.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.home__header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.home__header .header.nav {
  display: flex;
  column-gap: 20px;
  font-size: 1.3em;
}

.home__header .header.nav a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.home__header button {
  border: none;
  padding: 10px 20px;
  font-size: 1.3em;
  background-color: rgba(185, 185, 185, 0.8);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.home__main .home__main.image img {
  width: 100vw;
  height: 91vh;
}

.home__main .home__main.image {
  position: absolute;
  max-height: 100%;
}

.home__main .home__main.text {
  position: absolute;
  top: 200px;
  z-index: 2;
  color: white;
}

.home__main .home__main.text h2 {
  text-align: center;
  font-size: 2.5em;
  animation: head 1.2s linear;
}

.home__main.text p {
  padding: 20px;
  margin: 20px;
  font-size: 1.2em;
  letter-spacing: 1.2px;
  animation: display 3s linear;
  opacity: 1;
}

@keyframes head {
  0% {
    transform: translateX(-10%);
    opacity: 0;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes display {
  0% {
    transform: translateX(-10%);
    opacity: 0;
  }

  50% {
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-height: 700px) {
}
